body {
	margin: 0;
	padding: 0;
	background-color: lightblue;
}

main {
	width: 1400px;
	height: 700px;
	margin:auto;
	position: relative;
	border: 20px solid rosybrown;
}

.carousel {
	width: fit-content;
	height: fit-content;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	border-radius: 10px;
}

.carousel img {
	height: 400px;
	filter: contrast(50%);
	border-radius: 10px;
	box-shadow: 4px 12px 5px 5px lightgrey;
}

.absolutes {
	position: absolute;
	bottom: 50%;
	color: grey;
	cursor: pointer;
}

#toTheRight {
	right: 0;
}

#toTheLeft {
	left: 0;
}

.indicators {
	position: absolute;
	bottom: 0;
	left:50%;
	transform:translateX(-50%);
}

.indicator {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: darkgrey;
	opacity: 0.5;
	display: inline-block;
}

.indicator.active {
	opacity: 1;
}